* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  padding: 2rem;
}
.icons {
  display: flex;
  flex-direction: row;
}
.fa-solid,
.shop-heading {
  margin-right: 7rem;
  letter-spacing: 0.5rem;
}
.checkout-part {
  line-height: 1.5rem;
}
.checkout-heading {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.demo-para {
  display: flex;
  justify-content: center;
  color: hsl(0, 0%, 45%);
}
.form-validation {
  font-family: Arial, Helvetica, sans-serif;
}
.account-information {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.account-heading, .address-heading , .billing-heading{
  font-size: 1rem;
  margin-bottom: .5rem;
}
#mail, #phone-number, #address, #city{
margin-top: .5rem;
height: 3rem;
width: 22rem;
background: transparent;
border: none;
outline: none;
border-bottom: 1px solid #8c8a8a;
margin-bottom: 1rem;
}
#mail:hover, #phone-number:hover, #address:hover, #city:hover, #state:hover, #zip-code:hover, #select-country:hover{
    border-bottom: 2px solid black;
}
#mail::placeholder, #phone-number::placeholder, #address::placeholder, #city::placeholder, #state::placeholder, #zip-code::placeholder{
    font-size: 1.1rem;
}
.shipping-address{
   margin-left: 1.5rem;
}
#state, #zip-code{
    margin-top: .5rem;
    height: 3rem;
    width: 10rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #8c8a8a;
    margin-bottom: 1rem; 
    margin-right: 1rem;
}
.country-selector{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}
#country{
margin-top: 1rem;
margin-bottom: 1rem;
}
#select-country{
height: 3rem;
width: 22rem;
background: transparent;
border: none;
outline: none;
border-bottom: 1px solid #8c8a8a;
margin-bottom: 2rem;
font-size: 1.1rem;
}
.billing-address{
    margin-left: 1.5rem;
    margin-top: 1rem;
}
#billing-address-checkbox{
   width: 1rem;
   height: 1rem; 
   margin-top: 1rem;
   margin-right: .5rem;
}
.payment-method{
    margin-left: 1.5rem;
    margin-top: 2rem;
}
.payment-heading, .order-heading{
    font-size: 1rem;
    margin-bottom: .5rem;
}
#holder-name, #card-number{
    margin-top: .5rem;
    height: 3rem;
    width: 22rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #8c8a8a;
    margin-bottom: 1rem;  
}
#holder-name::placeholder, #card-number::placeholder, #cvv{
    font-size: 1.1rem;
}
.card-details{
    margin-left: 1.5rem;
    margin-top: 1.3rem;
}
#month-year{
    margin-bottom: 1rem; 
}
#month, #year{
height: 3rem;
width: 5.5rem;
background: transparent;
border: none;
outline: none;
border-bottom: 1px solid #8c8a8a;
margin-bottom: 2rem;
font-size: 1.1rem;
margin-right: 1rem;
}
#cvv{
    height: 3rem;
    width: 5.5rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #8c8a8a;
    margin-bottom: 1rem; 
    margin-right: 1rem;  
}
.order-summary{
    margin-left: 1.5rem;
}
.ladies, .total{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.amount{
    margin-left: 5rem;
}
.total-amount{
    margin-left: 15.5rem;
}
.place-order-button{
    width: 100%;
    height: 3.5rem;
    margin-top: 3rem;
    background-color: hsl(220, 30%, 30%);
    color: hsl(0, 0%, 100%);
    border: none;
}

@media (min-width:1024px){
    .fa-bars{
        display: none;
    }
    .shop-heading{
        margin-left: 43.9rem;
    }
    .fa-cart-shopping{
        margin-left: 35rem;
    }
    .form-validation{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .form{
        margin-left: 16rem;
        margin-right: 4rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    #mail, #phone-number,#address, #city,  #select-country{
        width: 26rem;
    }
    #state, #zip-code{
        width: 12.4rem;
    } 
    .form-method{
        margin-left: 2rem;
        margin-top: 1.4rem;
        margin-right: 23rem;
    }
    .payment-method{
        display: flex;
        flex-direction: column;
    }
    #holder-name, #card-number{
        width: 26rem;
    }
    .order-heading{
        margin-bottom: 1.5rem;
    }
    .place-order-button{
        width: 12rem;
        height: 2.5rem;
        margin-left: 2rem;
        background-color: transparent;
        border: 2px solid hsl(0, 0%, 0%);
        color: hsl(0, 0%, 0%);
    }
    .place-order-button:hover{
        background-color:hsl(0, 0%, 0%);
        color: white;
    }
    #month, #year, #cvv{
        width: 7.4rem;
    }
    .amount{
        margin-left: 9.5rem;
    }
    .total-amount{
        margin-left: 20rem;
    }
    
}